@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

@theme {
  /* theme variables */
  --font-sans: "Nunito", sans-serif;
  --font-heading: "Ubuntu", sans-serif;
  --color-dark: #4e4e4e;
  --color-light: #f4f6f9;

  --color-zip-yellow-500: #f8c526;
  --color-zip-yellow-400: #f9d051;
  --color-zip-yellow-300: #fadc7c;
  --color-zip-yellow-200: #fce7a8;
  --color-zip-yellow-100: #fdf3d3;
  --color-zip-yellow-50: #fef9e9;

  --color-zip-blue1-500: #78daea;

  --color-zip-blue2-900: #0e2f36;
  --color-zip-blue2-800: #133f48;
  --color-zip-blue2-700: #1c5e6c;
  --color-zip-blue2-600: #267e90;
  --color-zip-blue2-500: #309eb5;
  --color-zip-blue2-400: #59b1c3;
  --color-zip-blue2-300: #82c4d2;
  --color-zip-blue2-200: #acd8e1;
  --color-zip-blue2-100: #d5ebf0;
  --color-zip-blue2-50: #eaf5f7;

  --color-zip-gray-500: #dcd8d7;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  border-left: 2px solid #f4f6f9;
  border-right: 2px solid #f4f6f9;
  background: #dcd8d7;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #309eb5;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1c5e6c;
}
